.Popover {
    background-color: aqua;
    width: 209px;
    padding: 10px;
    /* height: 225px; */
    display: flex;
    position: absolute;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    list-style-type: none;
}

.Popover ul {
    list-style: none;
}

li {
    height: 50px;
    padding: 12px;
    gap: 12px;


}