.mainIcon {
    position: relative;
    width: fit-content;
    z-index: 100;
    cursor: pointer;
}

.children{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
}

.Popover {
    background-color: #FFFFFF;
    width: 209px;
    padding: 10px;
    display: flex;
    position: absolute;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    list-style-type: none;
    box-shadow: 0px 7px 19px -7px rgba(0, 0, 0, 0.75);
}

.Popover ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding: 5px;
    justify-content: space-around
}

.Popover li {
    height: 50px;
    padding: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;


}

.Popover li .icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red:hover {
    background-color: #F3F3F5;
    color: rgb(219, 0, 0);
    border-radius: 8px;

}

.green:hover {
    background-color: #F3F3F5;
    color: rgb(14, 157, 133);
    border-radius: 8px;

}