.Popover {
    background-color: #FFFFFF;
    width: 209px;
    padding: 10px;
    display: flex;
    position: absolute;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    list-style-type: none;
}

.Popover ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding: 5px;
    justify-content: space-around
}

.Popover li {
    height: 50px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Popover li .icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}