.timePicker {
    width: 152px;
    height: 34px;
    border: 1px solid #DEE2E9;
    border-radius: 8px;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0px, 8px, 0px, 8px;
    
}


input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    
}

input[type="time"]:focus {
   outline: none;
   border: none;
    
}
input[type="time"] {
   outline: none;
   border: none;
   width: 76px;
   height: 34px;
   border: 1px solid #DEE2E9;
   outline: none;
   border: none;
   color:  #000000;
   font-size: 14px;
   font-weight: 400;
   line-height: 34px;
   text-align: right
    
}

 

.text{
    width: 76px;
    border: none;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
}
.icon{
    width: 24px;
    height: 24px;
}