.leadsTab{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid var(--grayElement);
    padding: 15px;
    gap: 10px;
    position: relative;
}

.LeadListHolder{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.menu{
    position: absolute;
    top: 0px;
    left: 0px;
}