.leadsTab{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    max-width: 350px;
}

.LeadListHolder{
    display: flex;
    flex-direction: column;
}