.leadsTab{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: 100%;
    border-left: 2px solid var(--grayElement);
    padding: 15px;
    gap: 10px;
}

.LeadListHolder{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}