.contanier {
    padding: 45px 58px 45px 58px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}


.error{
    color: red;
    margin: 5px;
}