.textarea {
    border: 3px solid grey;
    border-radius: 5px;
    resize: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.textarea:hover {
    border: 3px solid rgb(81, 81, 232);
}

.textarea:focus,
.textarea:focus-visible,
.textarea:focus-within,
.textarea:active {
    border: 3px solid rgb(11, 11, 255);
    outline-color: rgb(11, 11, 255);
}