
.textarea {
    border: 1px solid #DEE2E9;
    border-radius: 8px;
    resize: none;
    font-family: var(--default-font);
    width: 666px;
    height: 166px;
    direction: rtl;
    text-align: right;
    padding: 15px;
}

.textarea:hover {
    border: 2px solid #E8E8E8;
}

.textarea:focus,
.textarea:focus-visible,
.textarea:focus-within,
.textarea:active {
    border: 1px solid #E8E8E8;
    outline-color:#E8E8E8;
}