.InputWrapper {
    justify-content: center;
    direction: rtl;
    display: flex;
    padding: 20px;
}

.input1 {
    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end
}

.label2 {
    color: cadetblue;
    margin: 5px;
}

.actions {
    height: 40px;

    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0px;
}

/* .timing{
    background-color:  #F7F7F7;
 }  */

.pickers {
    display: flex;
    flex-direction: row;
    gap: 20px;
}