
/* Main Container */
.main_container {
  grid-column: span 2;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* User Details */
.user_details {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  gap: 10px;
  display: flex;
  justify-content: space-evenly; /* Make details fill out horizontally */
}
.user_details h1 {
  margin-bottom: 10px;
  font-size: 24px;
}
.user_details h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #666;
}
.user_details img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid #3F51B5;
}
.user_details div {
  flex: 1;
  margin: 0 10px; /* Add spacing between details */
}
.user_details button {
  background-color: #3F51B5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.user_details button:hover {
  background-color: #283593;
}
.plansWrapper {
display: flex;
flex-direction: row;
justify-content: space-evenly;
gap: 20px;
}
/* Charts */
.charts_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
justify-content: center;
}
.chart_wrapper {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
max-width: 400px;
width: 100%;
}
.chart_title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #3F51B5;
  text-align: center;
}
/* Responsive */
@media (max-width: 768px) {
  .main_container {
    padding: 10px;
  }
  .user_details {
    flex-direction: column;
  }
  .user_details div {
    margin: 10px 0; /* Adjust spacing between details in mobile view */
  }
  .charts_container {
    flex-direction: column;
  }
  .chart_wrapper {
    flex: none;
    width: 100%; /* Set chart width to 100% in mobile view */
  }
}



