@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.262);
    width: 100vw;
    height: 100vh;
    justify-content: center;

}

@keyframes slideIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

.popup {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-self: center;
    position: relative;
    animation: slideIn 0.3s ease-in-out;
}

.top {
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.close {
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.title {
    margin: 20px;
    font-family: 'Secular One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;

}