* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center;
}



.allcom {
    /* border: 2px solid #818181; */
    min-width: 300px;
    height: 100px;
    float: right;
}

.TabSwitcher {
    justify-content: center;
    /* border: 2px solid #818181; */
    width: 100%;
    display: flex;
    /* background-color: aliceblue; */
}

.active {
    color: #818181;
    padding: 20px 10px 20px 10px;
    /* background-color: aquamarine; */
    margin: 10px;
    width: 90px;
}

.active:hover {
    /* border-bottom: 0.5px solid #0E9D85; */
    color: #0E9D85;
    font-weight: 700;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    justify-content: center;
}