@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.sidebar {
    background: #F7F7F7;
    width: 300px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.sidebar h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: right;
    margin: 0;
}

.sidebar ul li {
    font-family: Heebo;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0px;
}

.sidebar ul li a,
.sidebar ul li span {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    text-decoration: none;
    color: #6B6B6B;
    margin-right: 15px;
    cursor: pointer;
}

svg {
    color: #6B6B6B;
}

.sidebartop {
    padding: 32px 20px;
    width: 100%;
}

.lists {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 32px 20px;
    border-bottom: 2px solid var(--grayElement);
    border-top: 2px solid var(--grayElement);
    gap: 8px;
}

.liststitle {
    font-family: Heebo;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #6B6B6B;
    line-height: 40px;
}

.newlist{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 24px;
    padding: 8px;
    border-radius: 8px;
}

.item svg {
    height: 24px;
    width: 24px;
    background: #0E9D851A;
    border-radius: 50%;
}

.item:hover {
    cursor: pointer;
    background-color: var(--white-hover);

}

.camplist {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
}