.msgTab {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 2px solid var(--grayElement);
  padding: 15px;
  gap: 10px;
  position: relative;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
}


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
}

.popOverContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

.popOverContainer:hover {
  background-color: #F3F3F5;
  border-radius: 5px;

}