.listAndNew{
    height: 100%;
    display: flex;
    flex-direction: column;

}

.MsgListHolder{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.innerList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-y: scroll;
}

.newMsg{
    height: 60px;
    width: 90%;
    border-top: 2px solid var(--grayElement);
    padding: 5px;
    position: absolute;
    bottom: 0;
}

.item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 24px;
    padding: 8px;
    border-radius: 8px;
}

.item svg {
    height: 24px;
    width: 24px;
    background: #0E9D851A;
    border-radius: 50%;
}

.item:hover{
cursor: pointer;
background-color:var(--white-hover);

}