* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.InputWrapper {
    justify-content: center;

}

.h2 {
    font-family: 'Secular One', sans-serif;
}

.label{
    color: cadetblue;
    margin: 5px;
}

