  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

  :root {

      --font: 'Heebo', sans-serif;
      --title-color: #000000;
      --details-color: #6B6B6B;
      --border-box-color: #F3F3F5;
  }

  /* lead box */

  .lead {
      width: 100%;
      height: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      border-radius: 8px;
      padding: 20px, 16px, 20px, 16px;
  }

  .leadActive {
      background-color: #e5e5e7;
      width: 100%;
      height: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      border-radius: 8px;
      padding: 20px, 16px, 20px, 16px;

  }

  .leadActive .activeIcon {
      color: #0E9D85;
  }

  .lead:hover {
      background-color: #F3F3F5;
  }

  .lead:active {
      background-color: #F3F3F5;
  }

  .lead:active .activeIcon {
      color: #0E9D85;
  }

  /* square and icon in the box */
  .square {
      width: 44px;
      height: 44px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--border-box-color);
      border-radius: 8px;
      margin: 16px;
  }


  /* name, and details */
  .name {
      font-size: 18px;
      font-weight: 400;
      text-align: right;
      font-family: var(--font);
      color: var(--title-color)
  }

  .nameAndDetails {
      display: flex;
      flex-direction: column;
  }

.DateAndEmail {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: var(--font);
    font-size: 12px;
    color: var(--details-color);
    justify-content: right;
}


.email{
  font-size: 12px;
  color: #6B6B6B;

}

.date{
  font-size: 12px;
  color: #6B6B6B;
}

