@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}


.text {
    color: #000000;
    font-size: 16px;
    font-family: 'Heebo';
    padding: 1rem;
}



.inputText {
    margin: 60px;
    display: flex;
}



.register {
    padding: 2rem;
}

.error {
    min-width:  30%;
    font-size: .8rem;
    background-color: #e3dcdc;
    border-radius: 10px;
    color: #000;
    transform: scale(1);
    height: 1.3rem;
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
    overflow-x: auto;
    text-align: start;
}

