.container{
    width: 590px;
    max-width: 100%;
    /* height: 150px; */
    background-color: #F7F7F7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
}
.pas{
    font-size:small;
    color: #919EAB;
    margin-bottom: 10px; 
}
.titele{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; 
}
.link{
    border: 1px solid #DEE2E9;
    width: 100%;
    padding: 15px;
    height: 35px;
    border: #919EAB solid 1px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.pLink{
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}


.icon{
    display: flex;
    align-items: center;
    color: white;
}
.icon:hover{
    cursor: pointer;
}
.item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 24px;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    gap: 15px;
    background-color: var(--green-color);

}

/* .item svg {
    height: 24px;
    width: 24px;
    background: #0E9D851A;
    border-radius: 50%;
} */

.item:hover {
    cursor: pointer;
    background-color: var(--green-hover);
}
