* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.link {
    color: #818181;
    height: 45px;
    margin: 10px 10px 0 0;
    width: 110px;
    text-align: center;
    font-weight: 700;
}

.active {
    border-bottom: 3px solid #0E9D85;
    color: #0E9D85;
    transition: 0.1s;
}
.link:hover, .active {
    color: #0E9D85;
    transition: 0.1s;
}

.link:not(:hover) {
    transition: 0.1s;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    justify-content: center;
}

.allcom {
    display: flex;
    width: 100%;
    /* padding-bottom: 10px; */
    border-bottom: 2px solid var(--grayElement);
}