@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


.date {
    font-family: 'Heebo';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: #6B6B6B;
}

.MessageList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px
}

.messageListDiv{
    width: 100%;
}

.messages {
    width: 100%;
}

.unorderedList {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.unorderedList li {
    width: 100%;
}