@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    width: 287px;
    height: 37px;
    padding: 7px;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    text-overflow:ellipsis;
    overflow: hidden;
    display:inline-block


}

.item:hover {
    border-radius: 5px;
    background-color: #FFFFFF;
}

.nameitem {
    width: 100%;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: right;
    background-color: transparent;
    direction: rtl;
    display:inline-block
}

.active {
    align-items: center;
    display: flex;
    background-color: transparent;
}

.iconitem {
    align-items: center;
    width: 20px;
    margin: 7px 0 0 7px;
    background-color: transparent;
}