@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


.inputSubTitle {
    color: grey;
    font-size: 13px;
    cursor: default;
}

.inputSubTitle:hover {
    cursor: default;
}

.inputTitle {
    cursor: default;
    font-size: 16px;
}

.inputTitle:hover {
    cursor: default;
}

.inputLine {
    padding: 15px;
    width: 75vw;
    border: 1px solid #DEE2E9;
    width: 483px;
    height: 34px;
    border-radius: 8px;
    direction: rtl;
    text-align: right;
    padding: 5px;
}

.inputLine:hover {
    border: 2px solid #E8E8E8;
        /* Please don't change the color!!! */

}

.inputLine:focus,
.inputLine:focus-visible,
.inputLine:focus-within,
.inputLine:active {
    border: 2px solid #E8E8E8;
    outline-color: #E8E8E8;
    /* Please don't change the color!!! */
}

.MsgName {
    font-family: var(--default-font);
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
}