.msgTab{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: 100%;
    border-left: 2px solid var(--grayElement);
    max-width: 410px;
    padding: 15px;
    gap: 10px;
}