@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

.userNameaAndPssword {
    color: #0E9D85;
    font-size: 20px;
    font-family: 'Heebo';
}



.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.centerDiv {
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}

.loginDiv {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-evenly; */
    height: 350px;
    /* width: fit-content; */
    /* text-align: center; */
    /* text-align: end; */
    /* border: 1px solid #DEE2E9; */
    /* border-radius: 8px; */
    padding: 2rem;
    /* align-items: center; */
    flex-direction: column;
    /* margin: 0 60px; */
}