@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');




/* 
Instruction: To create a main heading using 'Secular One', simply use the <h1> tag in your HTML.
This will automatically apply the specified font family, size, weight, and color to the heading.
*/


:root {

  /* Setting up CSS variables for easy font management */

  --default-font: 'Heebo', sans-serif;
  /* Default font for body text */
  --font-size: 18px;
  /* Default font size for body text */
  --font-weight: 400;
  /* Default font weight for body text */


  /* Specific font for main headings */

  --header-font: 'Secular One', sans-serif;
  --header-font-size: 24px;
  /* Font size for main headings (h1) */
  --header-font-weight: 400;
  /* Font weight for main headings (h1) */
  --header-color: #000000;
  /* Text color for main headings (h1), set to black */
  --test-border: 2px solid black;
  --grayElement: rgb(232, 232, 232);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;

  /* Applying global fonts styles to all elements */

  font-family: var(--default-font);
  /* Applying the default font */
  font-size: var(--font-size);
  /* Applying the default font size */
  font-weight: var(--font-weight);
  /* Applying the default font weight */
}

/* Style rule for main headings (h1) */

h1 {
  font-family: var(--header-font); /* Use this CSS variable for the h1 font family */
  font-size: var(--header-font-size); /* Use this CSS variable for the h1 font size */
  font-weight: var(--header-font-weight); /* Use this CSS variable for the h1 font weight */
  color: var(--header-color); /* Use this CSS variable for the h1 text color */
}

::-webkit-scrollbar-thumb {
  background-color: #0E9D85; /* Set thumb color */
  border-radius: 5px; /* Round the corners */
  border: 2px solid #f7f7f7; 
}
::-webkit-scrollbar-track {
  background-color: #ffffff; 
  border-radius: 10px; /* Round the corners */
  }
  ::-webkit-scrollbar {
    width: 8px;
    }
