.wrapper {
  height: 336px;
  border-radius: 10px;
  display: flex;
  height: 75px;
  justify-content: center;
  background-color: #f7f7f7;
  margin: 30px 0 0 0;
  transition: 0.3s ease-in-out;
}

.closeWrapper {
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  margin: 30px 0 0 0;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.container {
  width: 400px;
  border: 0px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  padding: 7px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.content {
  margin: 0 10px 0 10px;
  border-radius: 5px;
  max-height: 250px;
  overflow-y: scroll;
  direction: ltr;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #0E9D85;
  border-radius: 5px;
  border: 2px solid #f7f7f7;
}

.hide {
  display: none;
}

.single {
  display: flex;
  justify-content: end;
  margin: 1px;
  background-color: white;
  height: 90px;
  align-items: center;
}

.open {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13.5px;
  font-weight: 500;
  gap: 10px;
}