.campaignPage {
    width: 100%;
    height: 100%;
}

.tabs {
    display: flex;
    height: 100%;
    width: 100%;
    /* border: var(--test-border); */
}

.infoTab {
    width: 90%;
    height: 100vh;
    overflow-y: scroll;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.infoTab >div {
    max-width: 800px;
    margin: auto;
}